# Node / npm
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS / editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Env
.env

# Build / cache (om du får sånt senare)
dist/
build/
.cache/

# Loggar
*.log
